body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    
}

.titulo{
    font-size: 1cm;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #005883;
}
.menu{
    text-align: center;
    padding: 20px;
    background-color: #F0B429;
    font-size: 30px;
}
.tabla{
    border: #F0B429;
    padding: 30px;
    font-size: 7;
}
.texto{
    padding: 30px;

}
.img{
    display: block;
    margin: auto;
}
.centrado{
    display: block;
    margin: auto;
}